@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.widthtoggle {
  width: 0px !important; }

.margintoggle {
  margin-left: 0px !important; }

.displaytoggle {
  opacity: 1 !important;
  z-index: 2 !important; }

.margin-right-toggle {
  margin-right: 260px !important;
  margin-left: 0px !important; }

.margin-left-toggle {
  transition: margin 0.2s ease-in;
  margin-left: -260px !important; }

.z-index-toggle {
  z-index: 0 !important; }

.offline {
  color: #F8575B !important; }

body {
  width: 100%;
  font-family: 'Lato' !important; }
  body .left-menu #mySidenav {
    transition: all 0.2s ease-in; }
  body .left-menu .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    width: 250px; }
  body .left-menu .nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 14px;
    font-weight: 200;
    background-color: #1B1E24;
    top: 0px;
    width: 250px;
    height: 100%;
    color: white; }
  body .left-menu .nav-side-menu .brand {
    width: 100%;
    background-color: #22262E;
    padding: 12px 14px;
    display: inline-block;
    font-size: 14px; }
    body .left-menu .nav-side-menu .brand span {
      left: 105px;
      top: -5px;
      position: relative;
      color: white;
      font-size: 12px;
      background-color: #F35958;
      padding: 2px 6px;
      border-radius: 50%;
      font-weight: bold; }
    body .left-menu .nav-side-menu .brand .fa-home {
      background-color: #0D0F12;
      font-size: 20px;
      padding: 5px; }
    body .left-menu .nav-side-menu .brand i {
      float: right;
      padding: 6px;
      color: white;
      background-color: #1B1E24;
      font-size: 18px;
      margin-bottom: 2px; }
  body .left-menu h6 {
    font-size: 10.5px;
    padding: 25px 43px 0px 43px;
    color: #808285;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: bold; }
  body .left-menu .user-greeting {
    margin: 20px 31px 0px 31px; }
    body .left-menu .user-greeting img {
      float: left;
      margin-right: 11px; }
    body .left-menu .user-greeting .username {
      color: white;
      font-size: 19px;
      margin-bottom: 0px; }
    body .left-menu .user-greeting .userstatus {
      color: #657076;
      margin: 2px 0px 10px;
      display: inline-block;
      font-size: 13px; }
      body .left-menu .user-greeting .userstatus .fa-circle-o {
        color: #0AA699;
        font-weight: bold;
        margin: 0px 2px; }
      body .left-menu .user-greeting .userstatus span {
        color: white; }
      body .left-menu .user-greeting .userstatus a:hover {
        text-decoration: none; }
  body .left-menu .nav-side-menu ul,
  body .left-menu .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    transition: all 0.2s ease; }
  body .left-menu .hotwidgets p {
    margin-top: 10px;
    line-height: 13px;
    font-size: 11px;
    padding: 3px 5px;
    background-color: #F35958;
    border-radius: 3px;
    color: white;
    height: 19px;
    margin-bottom: 0px; }
  body .left-menu .hotnews p {
    color: #8b91a0;
    text-shadow: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    background-color: #2A2E36;
    margin-bottom: 0px;
    line-height: 18px;
    margin-top: 8px; }
  body .left-menu .nav-side-menu ul :not(collapsed) .arrow:before,
  body .left-menu .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right; }
  body .left-menu .nav-side-menu ul .active,
  body .left-menu .nav-side-menu li .active {
    color: white; }
  body .left-menu .nav-side-menu ul .sub-menu li.active a,
  body .left-menu .nav-side-menu li .sub-menu li.active a {
    color: white; }
  body .left-menu .nav-side-menu ul .sub-menu li,
  body .left-menu .nav-side-menu li .sub-menu li {
    background-color: #22262E;
    border: none;
    line-height: 25px;
    font-size: 13px;
    padding-left: 60px; }
  body .left-menu .nav-side-menu ul .sub-menu li:hover,
  body .left-menu .nav-side-menu li .sub-menu li:hover {
    background-color: #1B1E24; }
  body .left-menu .nav-side-menu ul .sub-menu li:before,
  body .left-menu .nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    vertical-align: middle; }
  body .left-menu .nav-side-menu li {
    padding: 0px 31px; }
  body .left-menu .nav-side-menu li a {
    text-decoration: none;
    color: #7D8390; }
    body .left-menu .nav-side-menu li a .project {
      font-size: 10px;
      padding-top: -15px; }
  body .left-menu .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px; }
  body .left-menu .nav-side-menu li:hover {
    color: white !important; }
  body .left-menu .sub-menu li a {
    color: white; }
  body .left-menu .menu-list {
    margin-bottom: 60px; }
  @media (min-width: 1px) {
    body .left-menu .nav-side-menu .menu-list .menu-content {
      display: block; } }
  body .left-menu .menu-footer {
    position: absolute;
    bottom: 1px;
    width: 250px;
    height: 54px;
    display: block;
    background-color: #22262E; }
    body .left-menu .menu-footer .footer-menu-progressbar {
      background-color: #0aa699;
      margin: 25px;
      width: 70%;
      height: 4px; }
      body .left-menu .menu-footer .footer-menu-progressbar span {
        position: relative;
        top: -8px;
        left: 92px;
        padding: 6px 4px;
        font-size: 11px;
        color: #7D8390;
        background-color: #2D3139;
        border-radius: 4px; }
      body .left-menu .menu-footer .footer-menu-progressbar i {
        position: relative;
        left: 106px;
        top: -8px;
        color: #7D8390; }
  body .left-menu .sidenav a:hover, body .left-menu .offcanvas a:hover {
    color: white;
    transition: 0.1s linear; }
  body .left-menu #main {
    padding: 16px; }
  body .navbar-inverse {
    background-color: white;
    border: none; }
    body .navbar-inverse .input-group-btn {
      width: 40px !important; }
    body .navbar-inverse li a {
      color: #505458 !important;
      font-size: 18.5px; }
    body .navbar-inverse .navbar-form .form-control {
      border: none;
      box-shadow: none; }
    body .navbar-inverse .navbar-form .btn-default {
      border: none; }
    body .navbar-inverse .navbar-form .btn-default:hover {
      background-color: white; }
    body .navbar-inverse .navbar-form .btn-default:active {
      background-color: white; }
    body .navbar-inverse .navbar-right li:first-child a {
      font-size: 16px;
      padding-top: 10px; }
      body .navbar-inverse .navbar-right li:first-child a span:first-child {
        color: white;
        font-size: 12px;
        background-color: #F35958;
        padding: 2px 6px;
        border-radius: 50%; }
      body .navbar-inverse .navbar-right li:first-child a span {
        font-weight: bold;
        color: black; }
      body .navbar-inverse .navbar-right li:first-child a .fa-angle-down {
        padding: 5px; }
  body .notifications {
    z-index: -2;
    background-color: #fff;
    position: absolute;
    top: 45px;
    margin-top: 10px;
    right: 30px;
    width: 328px;
    height: 319px;
    opacity: 0;
    transition: opacity 0.15s linear;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15); }
    body .notifications .row:nth-child(2) {
      color: red;
      padding: 14px 14px 8px 14px;
      margin: 0px 5px;
      color: #505458;
      font-weight: bold;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif; }
    body .notifications .row {
      width: 100%;
      margin-left: 0px !important; }
    body .notifications .notification-messages.danger {
      background-color: #fef2f2 !important; }
    body .notifications .notification-messages.danger:hover {
      background-color: #fae1e1 !important; }
    body .notifications .notification-messages {
      width: 100%;
      padding: 15px 18px 5px;
      font-family: Arial;
      border-radius: 3px;
      margin-bottom: 10px;
      color: #8b91a0;
      font-size: 13px;
      background-color: #edf7fc;
      line-height: 2px;
      cursor: pointer; }
      body .notifications .notification-messages img {
        margin-right: 10px; }
      body .notifications .notification-messages .heading {
        width: 100%;
        color: #1b1e24;
        line-height: 14px;
        font-weight: 600; }
      body .notifications .notification-messages .description {
        font-size: 11px;
        font-family: Arial;
        color: #8b91a0;
        font-weight: normal; }
      body .notifications .notification-messages .time {
        font-size: 11px;
        line-height: 14px;
        opacity: 0.4;
        font-style: italic;
        font-weight: normal; }
    body .notifications .notification-messages:hover {
      background-color: #d8ebf4; }
  body .userarrow {
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 150px;
    top: -10px;
    z-index: 2; }
  body .main-chat {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 260px;
    background-color: #1B1E24;
    z-index: -1; }
    body .main-chat .search {
      padding-left: 0px;
      padding-right: 0px;
      width: 250px;
      margin: 15px 0px 15px 14px; }
      body .main-chat .search input {
        background-color: #0D0F12;
        color: black;
        transition: background-color 0.2s linear;
        border: none;
        width: 195px;
        height: 37px;
        padding-left: 10px;
        font-size: 13px;
        border-radius: 5px; }
      body .main-chat .search input:focus {
        border: none;
        background-color: white; }
      body .main-chat .search i {
        cursor: pointer;
        color: #4C5262;
        padding: 12px; }
    body .main-chat h6 {
      font-size: 10.5px;
      padding-left: 31px;
      font-weight: bold;
      color: #808285; }
    body .main-chat .group-charts ul li {
      padding: 2px;
      list-style-type: none; }
      body .main-chat .group-charts ul li a {
        color: white; }
      body .main-chat .group-charts ul li a:hover {
        text-decoration: none; }
      body .main-chat .group-charts ul li i {
        color: #01A397;
        padding-right: 5px; }
    body .main-chat .favourites .col-md-12 {
      margin: 7px;
      padding: 9px;
      border-radius: 3px;
      font-family: arial;
      font-size: 13px;
      color: #6f7b8a;
      line-height: 1.5;
      width: 224px;
      cursor: pointer; }
      body .main-chat .favourites .col-md-12 img {
        width: 35px;
        height: 35px;
        margin-right: 10px; }
      body .main-chat .favourites .col-md-12 p {
        color: white;
        margin-bottom: 0px; }
      body .main-chat .favourites .col-md-12 i {
        color: #00A69A;
        padding: 10px; }
      body .main-chat .favourites .col-md-12 span {
        font-size: 11px;
        color: #747b89; }
    body .main-chat .favourites .active {
      background-color: #372b32; }
    body .main-chat .favourites .active:hover {
      background-color: #482f36 !important; }
    body .main-chat .favourites .col-md-12:hover {
      background-color: #22262e; }
  body #main-content {
    height: 1000px;
    margin-top: -20px;
    transition: margin 0.2s linear;
    z-index: 99;
    margin-right: 0px;
    background-color: #E5E9EC; }
    body #main-content .sm-gutter {
      padding: 43px 26px 0px 26px; }
    body #main-content .col-md-4 {
      padding-left: 5px;
      padding-right: 5px; }
      body #main-content .col-md-4 #progressBar, body #main-content .col-md-4 #progressBar3, body #main-content .col-md-4 #progressBar2 {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 90%;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.28); }
        body #main-content .col-md-4 #progressBar div, body #main-content .col-md-4 #progressBar3 div, body #main-content .col-md-4 #progressBar2 div {
          height: 100%;
          color: white;
          text-align: center;
          line-height: 22px;
          /* same as #progressBar height if we want text middle aligned */
          width: 0;
          background-color: white; }
    body #main-content .titles {
      padding: 19px 18px 15px 24px; }
      body #main-content .titles .text {
        color: black;
        font-size: 10.5px;
        font-family: 'Open Sans';
        font-weight: 700; }
      body #main-content .titles i {
        color: #4C5262;
        cursor: pointer; }
      body #main-content .titles .mini-description {
        color: rgba(0, 0, 0, 0.42);
        font-size: 12px; }
        body #main-content .titles .mini-description .white {
          color: white; }
    body #main-content .widget-stats {
      color: white;
      font-size: 12px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      margin-right: 7px;
      padding-right: 7px; }
      body #main-content .widget-stats p {
        margin-bottom: 0px; }
      body #main-content .widget-stats span {
        font-weight: bold;
        font-size: 15px;
        padding-top: -10px; }
    body #main-content .widget-stats:last-child {
      border-right: none; }
    body #main-content .green {
      background-color: #0AA699; }
    body #main-content .red {
      background-color: #0090D9; }
    body #main-content .purple {
      background-color: #735F87; }
  body #main-part {
    transition: margin 0.2s ease-in;
    margin-right: 0px;
    margin-left: 250px;
    z-index: 99; }

/*# sourceMappingURL=style.css.map */
